coverage/
# dependencies
node_modules/
.bundle/
public/bundles/
.byebug_history
.bash_history
.npm/
.config/
.irb_history
.cache/
.solargraph.yml

# environment variables
.env

# macOS-specific files
.DS_Store

#this is so github actions doesn't try to add all the gems to the repo when updating the config file
vendor/
