<div class="dropdown">
  <select <% if defined?(id) %>id="<%= id %>"<% end %> autocomplete="off" <% if defined?(aria_label) %>aria-label="<%= aria_label %>"<% end %>>
    <% options.each do |option| %>
      <option value="<%= option[value] %>" <% if defined?(selected) && selected == option[value] %>selected<% end %>><%= option[label] %></option>
    <% end %>
  </select>
  <svg height="24px" viewBox="0 0 24 24" width="24px" focusable="false" role="presentation">
    <path d="M0 0h24v24H0V0z" fill="none"/>
    <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/>
  </svg>
</div>