<div>

  <%= my_styled_flash %>

  <p>Check <a href="<%= ENV.fetch('ACCOUNT_URL') %>/pending-requests">your account</a> to view its status.</p>

  <p>Go to <a href="https://search.lib.umich.edu">Library Search</a>.</p>
</div>
