<div>
  <p class="confirmation">Your pickup has been scheduled for <strong>[date]</strong> at <strong>[location]</strong>.</p>

  <p>Check <a href="https://account.lib.umich.edu">your account</a> to view its status.</p>

  <p>Go to <a href="https://search.lib.umich.edu">Library Search</a>.</p>
</div>
