<%
  test_users = [
    {
      label: "Faculty (many)",
      value: "mlibrary.acct.testing1@gmail.com"
    },
    {
      label: "Graduate student (few)",
      value: "mlibrary.acct.testing2@gmail.com"
    },
    {
      label: "New student (none)",
      value: "mlibrary.acct.testing3@gmail.com"
    },
    {
      label: "Not in Alma",
      value: "definitelynotinalma"
    },
  ]

  items = [
    {
      label: "Booking Item",
      value: "39015051081035"
    }
  ]
%>
<m-callout subtle style="grid-area: dev-options">
  <h2>Design &amp; Development Options</h2>

  <form method="post" action="/session_switcher" class="prose">
    <label for="test-user">
      Active user account:
    </label>
    <input type="text" list="users" id="test-user" name="uniqname" autocomplete="off" value="<%=session[:uniqname] || "" %>">
    <datalist id="users" style="display:none">
      <% test_users.each do |user| %>
        <option value="<%=user[:value]%>"><%=user[:value]%></option>
      <% end %>
    </datalist>
    <label for="item">
      Item:
    </label>
    <%= erb :"components/dropdown", :locals => { id: "item", options: items.as_json, value: "value", label: "label", selected: params[:barcode] } %>

    <button class="button-most-important">Save</button>
  </form>
</m-callout>
