<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Get This <% if item.title %> "<%= item.title %>" <% end %>| University of Michigan Library</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <link href="https://unpkg.com/@umich-lib/web@1/umich-lib.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/bundles/get-this.css">

    <script type="module" src="https://unpkg.com/@umich-lib/web@1/dist/umich-lib/umich-lib.esm.js"></script>
    <script nomodule src="https://unpkg.com/@umich-lib/web@1/dist/umich-lib/umich-lib.js"></script>
  
    <script type="module" src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/themes/default.css" />
  </head>
  <body>
    <m-universal-header></m-universal-header>
    <m-website-header name="Get This" to="https://search.lib.umich.edu/everything"></m-website-header>
    
    <div class="viewport-container" role=>
      <%= my_styled_flash %>
    </div>
    
    <main class="viewport-container get-this-layout">
      <%= yield %>
    </main>
  </body>
</html>
