<details class="get-option" open>
  <summary>
    <h2 class="get-option-title"><%=option.title %></h2><br>
    <p><%=option.subtitle %></p>
  </summary>
  <form>
    <label>Pick up location</label>
    <select style="margin-bottom: var(--space-medium);">
      <option value="WHAT_IS_THIS?">Shapiro Undergraduate Library</option>
    </select>

    <label for="date">Pick up date</label>
    <duet-date-picker identifier="date"></duet-date-picker>

    <br>

    <button class="button-most-important" style="margin-top: var(--space-small);">Book this item</button>
  </form>
</details>

<script>
  const unavailableDates = [<%= option.unavailable_dates_formatted %>] 

  function isDateDisabled(date) {
    return unavailableDates.includes(date)
  }

  const datePicker = document.querySelector("duet-date-picker")
  datePicker.isDateDisabled = isDateDisabled

  datePicker.addEventListener("duetChange", function(e) {
    if (isBooked(e.detail.valueAsDate)) {
      alert(`This item is not available on the date you provided.`)
    }
  })
</script>
