/**
 * sidebar.css
 * 
 * Sidebar contains the elements within
 * the `aside` element.
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - Container
 * 2.0 - Content
 *   2.1 - Item Details
 *   2.2 - Service Info
 */



/***********************/
/*** 1.0 - Container ***/
/***********************/

aside {
  grid-area: sidebar;
  position: sticky;
  top: var(--space-x-large);
}

aside > * + * {
  margin-top: var(--space-x-large);
}



/*********************/
/*** 2.0 - Content ***/
/*********************/

aside .subtle-heading,
aside .subtle-heading + h3 {
  margin-bottom: 0;
}

aside .subtle-heading + * {
  margin-top: 0;
}

/*** 2.1 - Item Details ***/

aside dl.record {
  grid-template-columns: minmax(min-content, max-content) auto;
  width: 100%;
}

aside dl.record > dt {
  padding-right: var(--space-x-large);
}

/*** 2.2 - Service Info ***/

aside ul.contact {
  list-style: none;
  padding: 0;
}

aside ul.contact li {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-x-small);
}

aside ul.contact li + li {
  margin-top: var(--space-medium);
}

aside ul.contact li svg {
  fill: var(--color-teal-400);
  height: auto;
  width: 1em;
}
