/**
 * typography.css
 * 
 * Typography defines the styling of text elements.
 *
 * -----------------
 * Table of Contents
 * -----------------
 * 1.0 - Headings
 * 2.0 - Heading Variants
 * 3.0 - Font Weights
 * 4.0 - Font Sizes
 */



/**********************/
/*** 1.0 - Headings ***/
/**********************/

h1 {
  grid-area: title;
  margin: 0;
}



/******************************/
/*** 2.0 - Heading Variants ***/
/******************************/

.subtle-heading {
  display: block;
}



/**************************/
/*** 3.0 - Font Weights ***/
/**************************/

.strong {
  font-weight: var(--semibold);
}



/**************************/
/*** 4.0 - Font Sizes ***/
/**************************/

small {
  color: var(--color-blue-300);
  font-size: 0.875rem;
}
